<table style="width: 100%; border: 1px solid black;">
    <tr>
        <th>Leido</th>
        <th>Emisor</th>
        <th>Titulo</th> 
        <th>Responder</th>
    </tr>


    <!-- Si lo hacemos con datos metidos por nosotros -->
<!--     <tr>
        <td>{{correos[0].emisor}}</td>
        <td>{{correos[0].titulo}}</td>
    </tr>

    <tr>
        <td>{{correos[1].emisor}}</td>
        <td>{{correos[1].titulo}}</td>
    </tr> -->

    <!-- Para hacerlo con un ngFor mucho mas comodo -->

<!--     <tr *ngFor="let correo of correos"> -->
<!--         Utilizamos ngIf para ver si esta leido o no -->
<!--         <td>
            <div *ngIf = "correo.leido">Si</div>
            <div *ngIf = "!correo.leido">No</div>
        </td>
        <td>{{correo.emisor}}</td>
        <td>{{correo.titulo}}</td>
    </tr>  -->

    <!-- Lo hacemos con *ngFor pero con ngModel y radiobutton (solo puede estar marcado 1) -->
    <ng-container *ngFor="let correo of correos; index as i;">
        <tr>
            <td>
                <input type="radio" name="leido-{{i}}" [(ngModel)] = "correo.leido" [value]=true disabled> Si
                <input type="radio" name="leido-{{i}}" [(ngModel)] = "correo.leido" [value] = false disabled> No
            </td>
    
            <td>{{correo.emisor}}</td>
            <td>{{correo.titulo}}</td>
            <td>
                <button (click)="clickResponder(correo)">Responder</button>
            </td>
        </tr>
            <tr *ngIf="correo.responder">
                <app-nuevo-correo [correo]="correo"></app-nuevo-correo>
            </tr>
        
    </ng-container>
</table>

<!-- Mostrar en tiempo real el estado de la tabla -->

<!-- <h2>Estado de lectura del correo</h2>
<h3 *ngIf="correos[0].leido">Si</h3>
<h3 *ngIf="!correos[0].leido">No</h3> -->


  
  <!-- Primero, realizaremos una prueba fuera -->
  <app-nuevo-correo *ngIf="responder" [correo]="correoAResponder"></app-nuevo-correo>